# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Node (para cuando agreguemos el backend)
node_modules/
.env
.env.local
.env.production

# Vercel
.vercel/
